@media screen and (min-width: 600px) {
  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
  }

  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .blogs {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .section {
    padding: 2rem 2.5rem !important;
  }
}

@media screen and (min-width: 800px) {
  .about-container {
    justify-items: center;
  }

  .about-stats {
    .progress-bars {
      grid-template-columns: 1fr;
    }
  }

  .portfoliosContainer {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2rem;

    .portfolioItem {
      // border: 1px solid var(--color-pawnda);

      .image {
        height: 250px;

        img {
          object-fit: cover;
        }
      }
    }
    .fa-arrow-up {
      margin-top: 0.5rem;
    }
  }
}

@media screen and (max-width: 970px) {
  // .section {
  //   padding: 7rem 6rem;
  // }
  header {
    padding: 0;
  }

  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .left-header {
    .h-shape {
      display: none;
    }
  }
}

@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .blogs {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1380px) {
  .header {
    padding: 0 !important;
  }

  .contact-content-container {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-container .right-contact .nameEmail {
    flex-direction: column;
  }

  .contact-content-container .right-contact .nameEmail :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1359px) {
  .controls {
    right: 0.5%;
    bottom: 25vh;
    flex-direction: column;
    position: fixed;
    width: 4vw;
  }

  .header-content {
    .left-header {
      .charAndImageContainer {
        left: 60%;
        height: 420px;

        #nameCharFirst {
          font-size: 4rem;
          top: 20%;
          left: 5%;
        }

        #nameCharSecond {
          // margin-bottom: 3rem;
          font-size: 32rem;
        }

        #nameCharThird {
          font-size: 4rem;
          bottom: 18%;
          left: 9%;
        }

        img {
          width: 60px;
          height: 60px;
        }

        #image1 {
          top: 13%;
          left: 13%;
        }

        #image2 {
          bottom: 7%;
          left: -3%;
        }
      }
    }

    .right-header {
      padding: 0 1rem;
      margin-right: 2rem;
    }
  }

  .theme-btn {
    bottom: 90%;
    right: 0.5%;
    border: 2px solid #191d2b;
  }

  .about-container {
    grid-template-columns: repeat(2, 2fr);
    gap: 2rem;
    .right-about {
      grid-template-columns: repeat(3, 2fr);
    }
  }

  .sec2 {
    min-height: 100vh;
  }

  .sec5 {
    padding: 0 5rem;
  }

  .portfoliosContainer .portfolioItem .hoverItems {
    .innerLayer {
      h3 {
        margin: 1.1rem auto;
      }
    }
  }
}
